<center>
<h1>Изменение данных о <%= @music.title %></h1>

<%= render 'form' %>
<br>
<%= link_to 'Перейти к записи', @music, class: "btn btn-default" %>
<%= link_to 'На главную', musics_path, class: "btn btn-default" %>
</center>
